.box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}


.keybox {
  display: flex;
  margin-top: 35px;
  margin-bottom: 10px;
}

.keybox label {
    margin-right: 10px;
}

.jsonbox{
    margin-bottom: 20px;    
}

.jsonbox input {
    margin-right: 5px;
}

pre{
    max-width: 500px;
}

.notifications{
    flex: 1 1 0
}

.files{
    flex:  1 1 0    
}


